$mdc-theme-primary: #537087;
$mdc-theme-on-primary: #FF9C5A;
$mdc-theme-primary-light: #7198B8;
$mdc-theme-toolset-background: #E8EAEF;
$mdc-theme-toolset-blue: #88CCF1;
$mdc-theme-canvas-background: #F2F2F2;
$mdc-theme-canvas-grid: #E0E0E0;
$mdc-theme-canvas-grid-light: #EEE;